
<table>
    <td>
          <h2> Convertisseur Temperature</h2>
      Ne perdez plus inutilement votre temps dans la conversion des livres en kilos et vice versa. Indiquez simplement le nombre de kilos ou de livres dont il est question dans le champ réservé à cet effet et un clic de souris vous donnera une réponse exacte sans prise de tête.
      <form action="">
          <input type="text"> kilos
          <input type="text">livres
       </form>
      Il est évident que les mesures de poids naquirent dans les civilisations anciennes, sous l'égide des marchands. Pour le commerce, il allait de soi qu'il fallait calculer les quantités de la marchandise que l'on vendait. Ainsi, les mesures de poids se sont déterminées en fonction des contenants ou des ustensiles que l'on utilisait pour les stocker, les conserver et les distribuer. Ainsi, en France, ce sont les propriétaires terriens, bien souvent, qui déterminèrent les mesures de poids.
      
      Voici quelques mesures en vigueur, en France, avant l'avènement du système métrique : la livre (489,5 grammes), le marc (244,75 grammes), le quarteron (122,4 grammes), l'once (30,59 grammes), le denier (1,275 gramme) et le grain (0,053 gramme). Les quantités les plus importantes se retrouvaient pour leur part dans des contenants beaucoup plus imposants : le quintal (100 livres ou 43,95 kilos), le millier (1 000 livres ou 439,5 kilos) ainsi que le tonneau de mer (2 000 livres ou 979 kilos).
    </td>
  </table>