div{
    text-align: center;
    display: inline-block;
   border: 1px solid;
   margin: 0%;
   padding: 50px 50px ;
   
}
img{
    display: inline;
    float:left;
}
div.class{
    text-align: center;
    display: inline-block;
     margin-left: 20PX;
   padding: 50px 50px ;
   width: 200px;
   float:right;
   
}

 div.section{
     position: 0;
    float: left;
   margin-left: 20px;
   padding-bottom: 10px;

 }
table{
    
    border: 1px solid black;
    background-color:white;
    padding: 25px 50px;
    text-transform: lowercase ;
    float:right;
    margin: 25px 0px 75px 100px;
    margin-top: 50px;
}