<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img src="../assets/logoCtid.jpg" width="100px"/>
  </h1>


<table>
    <div>
        <section>
            <h2><li> <a href="../convertisseur-poids.component.html">Convertisseur Poids</a> </li> </h2>
            <h2><li> <a href="./convertisseur-distances.component.html">Convertisseur distnces</a> </li> </h2>
      
            <h2><li> <a href="./convertisseur-temperature.component.html">Convertisseur Temperature</a> </li> </h2>
        </section>
      </div>
      <nav>
          <a routerLink="/convertisseur-poids">ConvertisseurPoids</a>
        </nav>
      <div class="">
        
  <app-convertisseur-poids></app-convertisseur-poids>
<app-convertisseur-distances></app-convertisseur-distances>
<app-convertisseur-temperature></app-convertisseur-temperature>
</div>
</table>
</div>
<router-outlet></router-outlet>
